<div class="">
  <h3 class="text-center">All Library Categories</h3>
  <% @categories.each do |category| %>
    <div class="text-center">
      <% if category.books.present? %> 
        <%= image_tag category.books.first.cover.image.url, class: 'img img-thumbnail' %>
      <% else %>
        <img class="img img-thumbnail" src="/assets/book.jpeg">
      <% end %>
      <br>
      <%= link_to category.title, category %>
    </div>
  <% end %>
</div>
